---
layout: default
title: About us
description: We're linked data web development specialists that can help you improve your data infrastructure.
permalink: /about
---
  <div class="hero--about-wrapper">
    <img class="hero--about" src="/img/team.jpg" />
  </div>
  <div class="section">
    <div class="section__content">
      <div class="section__wrapper">
        <div class="section__text">
          <h2>about.title</h2>
        </div>
      </div>
    </div>
  </div>
