---
layout: default
title: Blog
permalink: /blog
---
{% for post in site.posts %}
	<div class="post__preview">
		<h2>
				<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		</h2>
		{% include details.html %}
		{{ post.content | strip_html | truncatewords:40}}<br>
		<a href="{{ post.url }}">Read more...</a><br><br>
	</div>
{% endfor %}
