---
layout: default
title: Start.Vote - voting on the blockchain
description:
permalink: /
---
  <div class="hero hero--home">
    <div id="particles-js"></div>
    <div class="hero__wrapper">
      <h1 id="hero-text">
        Easy and secure voting on the blockchain
      </h1>
    </div>
  </div>
  <!-- scripts -->
  <script src="/js/vendor/particles.min.js"></script>
  <script src="/js/particles.js"></script>
  <div class="section" id="linked-data">
    <div class="section__content">
      <div class="section__wrapper">
        <div class="section__text">
          <h2>Decentralized</h2>
          <p>Don't allow anyone to tamper with your election. Our decentralized voting system will give hackers a really hard time.</p>
          <!-- <a href="/what-is-linked-data" class="read-more">
            <i class="fas fa-arrow-right"></i>
            t home.linked_data.read_more
          </a> -->
        </div>
        <img
          alt="A network of computer nodes"
          class="section__image"
          src="/img/home/linked-data.svg"
        />
      </div>
    </div>
  </div>
  <div class="section section--alt" id="open-source">
    <div class="section__content">
      <div class="section__wrapper">
        <div class="section__text">
          <h2>Open Source</h2>
          <p>Don’t trust our word, trust our code. Our software runs in your browser and is on Github for everyone to verify and use.</p>
        </div>
        <img
          alt="Source code"
          class="section__image"
          src="/img/home/ontology-modelling.svg"
        />
      </div>
    </div>
  </div>
  <div class="section" id="open-source">
    <div class="section__content">
      <div class="section__wrapper">
        <div class="section__text">
          <h2>Chain-agnostic</h2>
          <p>We use existing, proven, decentralized ledgers (blockchains). Our software is designed to be compatible with many different systems, such as Waves, Bitcoin, Ethereum and more.</p>
        </div>
        <img
          alt="Chains?"
          class="section__image"
          src="/img/home/ontology-modelling.svg"
        />
      </div>
    </div>
  </div>
  <div class="section section--alt" id="open-source">
    <div class="section__content">
      <div class="section__wrapper">
        <div class="section__text">
          <h2>Anonymous</h2>
          <p>The e-mails (which contain the codes to place a vote) are sent by decentarlized computers (the Swarm). That way, even we don’t know which e-mail address are linked wo which votes.</p>
        </div>
        <img
          alt="Avatar with a question mark"
          class="section__image"
          src="/img/home/ontology-modelling.svg"
        />
      </div>
    </div>
  </div>
  <div class="section" id="open-source">
    <div class="section__content">
      <div class="section__wrapper">
        <div class="section__text">
          <h2>Transparent</h2>
          <p>Storing votes in the blockchain guarantees that every single vote is verifyable by anyone. </p>
        </div>
        <img
          alt="Source code"
          class="section__image"
          src="/img/home/ontology-modelling.svg"
        />
      </div>
    </div>
  </div>
  <div class="section section--alt"  id="contact">
    <div class="section__content">
      <h2>Get in touch</h2>
      {% include contact.html %}
    </div>
  </div>
