<form
class="form"
action="https://formspree.io/info@start.vote"
method="POST"
>
  <label for="email">Your e-mail</label>
  <input id="email" type="email" name="_replyto" placeholder="email@example.com">
  <label for="message">Ask us anything!</label>
  <textarea rows="5" id="message" name="message" placeholder="Your message here"></textarea>
  <button type="submit" value="Send">Send</button>
  <input type="hidden" name="_next" value="/wellbeintouch" />
  <input type="hidden" name="_subject" value="Start.Vote" />
  <input type="hidden" name="_format" value="plain" />
  <input type="text" name="_gotcha" style="display:none" />
</form>
