<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Start.Vote">
  <meta name="application-name" content="Start.Vote.io">
  <meta name="msapplication-TileColor" content="#5a91af">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/css/syntax.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  {% include head.html %}
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <nav  id="navbar" class="nav__wrapper">
    <div class="nav">
      <a href="/" class="nav__logo">
        <span>Start.Vote</span>
      </a>
      <div class="nav__links nav__links--collapsed">
        <a href="/">home</a>
        <a href="/faq">faq</a>
        <a href="/process">process</a>
        <a href="/contact">contact</a>
      </div>
    </div>
  </nav>
  <div class="container">
    {{ content }}
  </div>
  <div class="footer--wrapper" id="footer">
    <div class="footer">
      <div class="footer-row">
        <div href="/" class="footer__header">
          Start.Vote
        </div>
        <a href="/">home</a>
        <a href="/faq">faq</a>
        <a href="/process">process</a>
        <a href="/contact">contact</a>
      </div>
      <div class="footer-row">
        <div href="/" class="footer__header">Find us</div>
        <a href="https://github.com/argu-co/start-vote">
          <i title="Github" aria-label="Github" class="fab fa-github"></i>
          Check our code @ Github
        </a>
        <a href="mailto:info@ostart.vote">
          <i class="fas fa-envelope"></i>
          info@start.vote
        </a>
        <a href="https://goo.gl/maps/x5Sggs9X7L32">
          <i class="fas fa-map-marker-alt"></i>
          Koningslaan 62, Utrecht, NL
        </a>
        <div><a href="https://argu.co">
          <i class="fas fa-briefcase"></i>
          Part of Argu B.V.</a> kvk 65684168<div>
        </div>
      </div>
    </div>
    <img class="footer__logo" src="/img/logo.svg" />
  </div>
  </div>
  <script src="/js/main.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57491906-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-57491906-5');
  </script>
</body>

</html>
