---
layout: default
---
<div class="hero hero--smaller hero--narrow">
  <div class="hero__wrapper">
    <h1 id="hero-text">
      {{ page.title }}
    </h1>
  </div>
</div>
<div class="post">
  {{ content }}
</div>
