---
layout: default
---
<div class="hero hero--smaller hero--narrow">
  <div class="hero__wrapper">
    <a href="/blog"class="hero__link">
      <h3 id="hero-text">
        <i class="fas fa-level-up-alt"></i>
        Blog
      </h3>
    </a>
  </div>
</div>
<div class="post">
  <h1>{{ page.title }}</h1>
  {% assign post = page %}
  {% include details.html %}
  {{ content }}
</div>
<div class="post__navigation">
  <div class="post__navigation__wrapper">
    {% if page.previous.url %}
      <a class="post__navigation__previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="post__navigation__next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>
</div>
