.App {
  margin: auto;
  max-width: 500px;
  padding: 10px;
}

/* Basics */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

h1 {
  font-size: 2em;
}

p {
  margin-bottom: 15px;
}

label {
  display: block;
}

.list {
  margin-bottom: 15px;
}

.list li {
  margin-left: 15px;
  list-style-type: disc;
}

.label_span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.textarea {
  display: block;
  width: 100%;
  padding: 5px;
  font-family: sans-serif;
}

.input-title {
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  padding: 5px;
}

.Hasher {
  background-color: #f2f2f2;
  padding: 10px;
  margin: -10px;
  border-radius: 5px;
  margin-top: 10px;
}

.Hasher__input {
  font-family: monospace;
  width: 100%;
}

.Hasher__hash {
  color: grey;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.Hasher__hash--ok {
  color: green;
}

.Hasher__validator {
  margin-bottom: 10px;
}

.deadline {
  color: #cb4c4c;
}

.Ballot__option {
  font-weight: bold;
}

.Ballot__option__voted {
  color: grey;
}

input, textarea {
  border-radius: 5px;
  padding: 5px;
  border: solid 1px rgb(160, 160, 160);
  box-sizing: border-box;
  margin-bottom: 15px;
}

input:focus, textarea:focus {
  outline: none;
}

/* Button */
.Button {
  background: rgb(54, 126, 54);
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.Button:hover, .Button:focus {
  background-color: rgb(47, 92, 47);
}

.Button:focus {
  outline: solid 2px rgb(195, 54, 155);
}

.Button--small {
  padding: 2px 5px;
  font-size: 14px;
}

.Button--subtle {
  background-color: rgb(151, 151, 151);
}

.Button--subtle:hover, .Button--subtle:focus {
  background-color: rgb(99, 99, 99);
}

.Button--inline-form {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Button--round {
  padding: 0;
  height: 17px;
  width: 17px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Input */

.Input--with-button {
  box-sizing: border-box;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Form_input-with-button {
  display: flex;
}


/* NewBallot */
.NewBallot__option {
  margin-bottom: 5px;
}

.NewBallot__option__remove {
  margin-right: 5px;
  float: left;
}

.NewVote__option {
  display: flex;
}

.SingleVote {
  border: solid 1px grey;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
